@font-face {
  font-family: "UD Shin Go";
  src: local("UD Shin Go Medium");
  font-weight: 100;
}

@font-face {
  font-family: "UD Shin Go";
  src: local("UD Shin Go Medium");
  font-weight: 200;
}

@font-face {
  font-family: "UD Shin Go";
  src: local("UD Shin Go Medium");
  font-weight: 300;
}

@font-face {
  font-family: "UD Shin Go";
  src: local("UD Shin Go Medium");
  font-weight: 400;
}

@font-face {
  font-family: "UD Shin Go";
  src: local("UD Shin Go Medium");
  font-weight: bold;
}

@font-face {
  font-family: "UD Shin Go";
  src: local("UD Shin Go Medium");
  font-weight: 100;
}

@font-face {
  font-family: "UD Shin Go";
  src: local("UD Shin Go Medium");
  font-weight: 200;
}
  
body,
tooltip,
popover {
  font-family:"UD Shin Go Medium",'メイリオ';
  
}

@media all and (-ms-high-contrast: none) {
  body,
  tooltip,
  popover {
    font-family: Verdana, Meiryo, sans-serif;
  }

  body {
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

header {
    background: #333333;
    color: #ffffff;
    height: 40px;
}









}

