<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="manifest" href="/manifest.json">
    </head>
<title>BitZeny マイニングプール</title>
    </head>
    <body>
        <div id="app">
   
    <div
    v-for="currency in info"
    class="currency"
  >
  <h3>NetWork</h3>
  <p>API側の追加待ちです。</p>
  <!-- API側の再度追加待ち
  <span v-html="currency.symbol"></span>Hash : {{ info.NetWork.Hash}}<br>
  <span v-html="currency.symbol"></span>Diff : {{ info.NetWork.Diff}}<br>
  -->


<h3>MPOS</h3>
<p><span v-html="currency.symbol"></span>Pool : {{info.pools[0].name}}</p>
<p><span v-html="currency.symbol"></span>Hashrate : {{info.pools[0].hashrate}}<br></p>
<p><span v-html="currency.symbol"></span>Status : {{info.pools[0].status}}</p>
<p><span v-html="currency.symbol"></span>Fee : {{info.pools[0].fee}}</p>
<br>
<p><span v-html="currency.symbol"></span>Pool : {{info.pools[1].name}}</p>
<p><span v-html="currency.symbol"></span>Hashrate : {{info.pools[1].hashrate}}<br></p>
<p><span v-html="currency.symbol"></span>Status : {{info.pools[1].status}}</p>
<p><span v-html="currency.symbol"></span>Fee : {{info.pools[1].fee}}</p>
<br><br>
<h3>YIIMP</h3>

<p><span v-html="currency.symbol"></span>Pool : {{info.pools[3].name}}</p>
<p><span v-html="currency.symbol"></span>Hashrate : {{info.pools[3].hashrate}}<br></p>
<p><span v-html="currency.symbol"></span>Status : {{info.pools[3].status}}</p>
<p><span v-html="currency.symbol"></span>Fee : {{info.pools[3].fee}}</p>
<br>
<p><span v-html="currency.symbol"></span>Pool : {{info.pools[5].name}}</p>
<p><span v-html="currency.symbol"></span>Hashrate : {{info.pools[9].hashrate}}<br></p>
<p><span v-html="currency.symbol"></span>Status : {{info.pools[5].status}}</p>
<p><span v-html="currency.symbol"></span>Fee : {{info.pools[5].fee}}</p>
<br><br>
<h3>NOMP</h3>

<p><span v-html="currency.symbol"></span>Pool : {{info.pools[9].name}}</p>
<p><span v-html="currency.symbol"></span>Hashrate : {{info.pools[9].hashrate}}<br></p>
<p><span v-html="currency.symbol"></span>Status : {{info.pools[9].status}}</p>
<p><span v-html="currency.symbol"></span>Fee : {{info.pools[9].fee}}</p>
<br>
<p><span v-html="currency.symbol"></span>Pool : {{info.pools[10].name}}</p>
<p><span v-html="currency.symbol"></span>Hashrate : {{info.pools[10].hashrate}}<br></p>
<p><span v-html="currency.symbol"></span>Status : {{info.pools[10].status}}</p>
<p><span v-html="currency.symbol"></span>Fee : {{info.pools[10].fee}}</p>
<br><br>






<p>--------------------------------------------------------------------------------------------</p>
</div>
</div>        
        </li>
                        </ul>
                    </div>



















                </div>
            </div>
        </div>
        <script src="/index.js"></script>
    </body>
</html>